body {
    height: 100vh;
    margin: 0;
    font-family: Hero, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header Styling */
.header {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;

}

.logo {
    font-family: Hero, sans-serif;
    font-size: 24px;
    font-weight: 600;
    align-self: center;
    margin-left: 12px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    font-family: Hero, sans-serif;
    display: flex;
    gap: 16px;
    margin-right: 12px;
}

/* Main Styling */
.main {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.main-container {
    height: 500px;
    width: 600px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 5px;
    font-size: 48px;
    font-weight: 900;
    font-family: Hero, sans-serif;
}

.header-text {
    margin-top: 0px;
    font-size: 18px;
    font-family: Hero, sans-serif;
}

.button-one {
    color: white;
    background-color: #3882F6;
    font-family: Hero, sans-serif;
    border: 1px solid #3882F6;
    border-radius: 0.5em;
    padding: 8px 15px;
    font-size: 18px;
    height: 40px;
    width: 150px;
}

.main-container-two {
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 562.5px;
    height: 375px;
}

/* First Section Styling */
h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    font-family: Hero, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    text-align: center;
}

.image-one {
    width: 243.2px;
    height: 364.8px;
    border-radius: 0.5em;
    border: 5px solid #3882F6;
}

.image-two {
    width: 230.4px;
    height: 345.6px;
    border-radius: 0.5em;
    border: 5px solid #3882F6;
}

.image-three {
    width: 243.2px;
    height: 364.8px;
    border-radius: 0.5em;
    border: 5px solid #3882F6;
}

.image-four {
    width: 260.67px;
    height: 325.87px;
    border-radius: 0.5em;
    border: 5px solid #3882F6;
}

.text {
    margin-top: 8px;
    font-size: 20px;
    color: #1F2937;
}

/* Second Section Styling  */
.section-two {
    color: #1F2937;
    background-color: #E5E7EB;
    font-weight: light;
    font-size: 36px;
    margin-top: 100px;
    display: flex;
}

.quote {
    align-self: center;
    margin: 150px 200px;
}

span {
    float: right;
    font-size: 26px;
    font-weight: 700;
    margin: 20px 0 0 0;
}

/* Third Section Styling */
.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    margin: 80px 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-around;
}

.section-text {
    padding: 20px 100px;
}

.p-text:nth-of-type(1) {
    font-weight: 700;
    margin-bottom: 0;
}

.p-text:nth-of-type(2) {
    margin-top: 5px;
}

.section-button {
    margin-right: 100px;
    align-self: center;
}

.section-button button {
    padding: 8px 15px;
    height: 40px;
    width: 130px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 0.5em;
    border: 2px solid white;
    color: white;
    font-weight: 600;
}