/* Header Styling */
.header {
    color: white;
    background-color: #1F2937;
}

.logo {
    font-family: Hero, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    font-size: 18px;
    font-family: Hero, sans-serif;
}

/* Main Styling */
.main {
    color: white;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    font-family: Hero, sans-serif;
}

.header-text {
    font-size: 18px;
    font-family: Hero, sans-serif;
}

.button-one {
    color: white;
    background-color: #3882F6;
    font-family: Hero, sans-serif;
    border: 1px solid #3882F6;
    border-radius: 0.5em;
    padding: 8px 15px;
    font-size: 18px;
}

.main-image {
    width: 750px;
    height: 500px;
}